<!--<html>-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>PlanOmatic</title>-->
<!--</head>-->

<body style="margin:0px; padding:0px;">
<!-- <div style=”color:#fff;”>Download Photos and Access Listings</div> -->
<table width="100%" border="0" cellspacing="0" cellpadding="20" height="100%">
  <tbody>
  <tr>
    <td align="left" valign="top" bgcolor="#f7f7f7">
      <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <td bgcolor="#ffffff">
            <table width="700" border="0" cellspacing="0" cellpadding="10">
              <tbody>
              <tr>
                <td><a href="http://www.planomatic.com/"><img
                src="http://planomatic-assets.planomatic.com/olio_email_confirmation/logo.gif"
                width="183" height="90" alt=""></a></td>
                <td align="right">
                  <table width="300" border="0" cellspacing="0" cellpadding="5">
                    <tbody>
                    <tr>
                      <td width="150" align="right" valign="middle"
                          style="color:#00a1f2; font-size:18px;font-family:Helvetica, Arial, sans-serif;">
                        <strong>(866) 599-7526</strong></td>
                      <td width="130" align="right"><a href="http://www.planomatic.com/order"><img
                      src="http://planomatic-assets.planomatic.com/olio_email_confirmation/order-btn.gif"
                      width="130" height="34" alt=""></a></td>
                    </tr>
                    <tr>
                      <td colspan="2" align="right"
                          style="font-size:14px; font-family:Helvetica, Arial, sans-serif; letter-spacing:0.1em; color:#666666;">
                        Mon to Fri 9am - 8pm EST<br>Saturday 12pm - 4pm EST<br>Sunday 12pm - 4pm
                        EST
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td bgcolor="#13adee">
            <table width="700" border="0" cellspacing="0" cellpadding="10">
              <tbody>
              <tr>
                <td width="680"
                    style="text-align:center; color:#fff; font-weight:normal; font-size:24px; font-family:Helvetica, Arial, sans-serif;">
                  [titlebodyhtml]
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF">

            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
              <tr>
                <td align="center" valign="top">
                  <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer" style="font-family:Helvetica, Arial, sans-serif; color:#666666;">
                    <tr>
                      <td align="center" valign="top" style="padding-bottom: 0px;">
                        <p style="font-size:20px; font-weight:bold; text-align:center; line-height:24px; margin-top:0px; padding-bottom: 0px;">
                          [listingaddress]<br>
                          <span style="font-size:18px; font-weight:normal;">
                            Presented for [clientname]
                           </span>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" width="680" style="padding: 10px 10px">
                  <table border="0" cellpadding="20" cellspacing="0" id="emailContainer" style="font-family:Helvetica, Arial, sans-serif; color:#666666;">
                    <tr>
                      <td width="11%" style="text-align: right; padding-top: 10px; padding-bottom: 0;">
                        <img src="http://planomatic-assets.planomatic.com/olio_email_confirmation/password.gif"
                             width="36" height="36"
                             alt="">
                      </td>
                      <td width="57%" style="line-height: 32px; padding-top: 10px; padding-bottom: 0; font-size: 18px">login:
                        <a style="color:#00a1f2; text-decoration:none;" href="[ClientDirectLoginURL]">
                          http://client.planomatic.com
                        </a><br>
                        user:&nbsp;[clientemail]<br>
                        pass:&nbsp;[clientpassword]
                      </td>
                      <td width="33%" style="text-align: center; padding-bottom: 0;">
                        <a href="[ClientDirectLoginURL]"
                           style="text-decoration: none;">
                          <div style="margin-bottom: 6px; -webkit-print-color-adjust: exact; background-color: #FF7300; color: white; font-size: 18px; padding: 10px 0;
                                  -moz-border-radius: 10px; -khtml-border-radius: 10px; /* for old Konqueror browsers */; -webkit-border-radius: 10px; border-radius: 10px; /* future proofing */">
                            Login<br>
                          </div>
                        </a>
                        <a href="http://www.planomatic.com/customer-support"
                           style="text-decoration: none;">
                          <div style="margin-bottom: 6px; -webkit-print-color-adjust: exact; background-color: #00a1f2; color: white; font-size: 18px; padding: 10px 0;
                                  -moz-border-radius: 10px; -khtml-border-radius: 10px; /* for old Konqueror browsers */; -webkit-border-radius: 10px; border-radius: 10px; /* future proofing */">
                            Support<br>
                          </div>
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" width="680" style="padding: 10px 10px">
                  <table border="0" cellpadding="20" cellspacing="0" width="680" id="photosContainer"
                         style="font-family:Helvetica, Arial, sans-serif; color:#666666; text-align: center;">
                    <tr>
                      <td width="34%">
                        <a href="http://www.planomatic.com/customer-support"
                           style="text-decoration: none;">
                          <div style="margin-bottom: 6px; -webkit-print-color-adjust: exact; background-color: #00a1f2; color: white; font-size: 18px; padding: 10px 0;
                                  -moz-border-radius: 10px; -khtml-border-radius: 10px; /* for old Konqueror browsers */; -webkit-border-radius: 10px; border-radius: 10px; /* future proofing */">
                            Small Photos<br>
                          </div>
                          <a style=" font-size: 12px; color: #666666; font-family: Helvetica, Arial, sans-serif;">
                            830w x 553h pixels max size
                          </a>
                        </a>
                      </td>
                      <td width="34%">
                        <a href="http://www.planomatic.com/customer-support"
                           style="text-decoration: none;">
                          <div style="margin-bottom: 6px; -webkit-print-color-adjust: exact; background-color: #00a1f2; color: white; font-size: 18px; padding: 10px 0;
                                  -moz-border-radius: 10px; -khtml-border-radius: 10px; /* for old Konqueror browsers */; -webkit-border-radius: 10px; border-radius: 10px; /* future proofing */">
                            Medium Photos<br>
                          </div>
                          <a style=" font-size: 12px; color: #666666; font-family: Helvetica, Arial, sans-serif;">
                            1920w x 1280h pixels max size
                          </a>
                        </a>
                      </td>
                      <td width="33%">
                        <a href="http://www.planomatic.com/customer-support"
                           style="text-decoration: none;">
                          <div style="margin-bottom: 6px; -webkit-print-color-adjust: exact; background-color: #00a1f2; color: white; font-size: 18px; padding: 10px 0;
                                  -moz-border-radius: 10px; -khtml-border-radius: 10px; /* for old Konqueror browsers */; -webkit-border-radius: 10px; border-radius: 10px; /* future proofing */">
                            Large Photos<br>
                          </div>
                          <a style=" font-size: 12px; color: #666666; font-family: Helvetica, Arial, sans-serif;">
                            Full Size Photos
                          </a>
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>


              <tr>
                <td bgcolor="#13adee">
                  <table width="700" border="0" cellspacing="0" cellpadding="10">
                    <tbody>
                    <tr>
                      <td width="700"
                          style="text-align:center; color:#fff;  font-size:24px; font-family:Helvetica, Arial, sans-serif;">
                        PhotoPlan Virtual Tour Links
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>



              <tr>
                <td align="center" valign="top" width="680" style="padding: 10px 10px; padding-bottom: 10px;">
                  <table border="0" cellpadding="20" cellspacing="0" id="photoPlanContainer" style="font-family:Helvetica, Arial, sans-serif; color:#666666;">
                    <tr>
                      <td width="680" style="padding-bottom: 0">
                        [customdomain]
                        [vendorcustomlinkheader1]<br>
                        [vendorcustomlinkheader2]<br>
                        [vendorcustomlinkheader3]
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr>
                <td align="center" valign="top" width="680" style="padding: 10px 10px; padding-bottom: 10px;">
                  <table border="0" cellpadding="20" cellspacing="0" id="photoPlanContainer" style="font-family:Helvetica, Arial, sans-serif; color:#666666;">
                    <tr>
                      <td width="11%" style="text-align: right; padding-top: 10px; padding-botttom: 10px;">
                        <img src="http://planomatic-assets.planomatic.com/olio_email_confirmation/house.gif"
                             width="36" height="36"
                             alt="">
                      </td>
                      <td width="89%" style="line-height: 27px; padding-top: 10px; padding-botttom: 10px; font-size: 18px">
                        Branded PhotoPlan Virtual Tour Link (not MLS)
                        <br>
                        <a style="color:#00a1f2; text-decoration:none;"
                           href="[VendorPhotoPlanBrandingURL]/[propertyTourID]">
                          [vendorphotoplanbrandingurl]/
                          [propertytourid]
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td width="11%" style="text-align: right; padding-top: 10px; padding-botttom: 10px;">
                        <img src="http://planomatic-assets.planomatic.com/olio_email_confirmation/mls.gif"
                             width="36" height="36"
                             alt="">
                      </td>
                      <td width="89%" style="line-height: 27px; padding-top: 10px; padding-botttom: 10px; font-size: 18px">
                        MLS Non-Branded Version (upload this to MLS)<br>
                        <a style="color:#00a1f2; text-decoration:none;"
                           href="[VendorPhotoPlanBrandingURL]/mls[propertyTourID]">
                          [vendorphotoplanbrandingurl]/mls
                          [propertytourid]
                        </a>
                      </td>
                    </tr>
                  </table>
                  <p>
                    <img src="http://planomatic-assets.planomatic.com/olio_email_confirmation/divider.gif"
                         width="660" height="1" alt="">
                  </p>
                </td>
              </tr>

              <!--<p>-->
                <!--<img src="http://planomatic-assets.planomatic.com/olio_email_confirmation/divider.gif"-->
                     <!--width="660" height="1" alt="">-->
              <!--</p>-->

              <!--<tr>-->
                <!--<td bgcolor="#ffffff">-->
                  <!--<table width="700" border="0" cellspacing="0" cellpadding="20"-->
                         <!--style="font-family:Helvetica, Arial, sans-serif; color:#666666;">-->
                    <!--<tbody>-->
                    <!--<tr>-->
                      <!--<td>-->
                        <!--[customdomain]-->
                        <!--[vendorcustomlinkheader1]<br>-->
                        <!--[vendorcustomlinkheader2]<br>-->
                        <!--[vendorcustomlinkheader3]-->
                        <!--<table width="660" border="0" cellspacing="0" cellpadding="12"-->
                               <!--style="font-size:18px;">-->

                          <!--<tbody>-->
                          <!--<tr>-->
                            <!--<td width="36" align="center" valign="middle"><img-->
                            <!--src="http://planomatic-assets.planomatic.com/olio_email_confirmation/house.gif"-->
                            <!--width="36" height="36" alt=""></td>-->
                            <!--<td width="576" style="line-height:26px; color:#666666;">Branded PhotoPlan Virtual Tour-->
                              <!--Link (not MLS)<br>-->
                              <!--<a style="color:#00a1f2; text-decoration:none;"-->
                                 <!--href="[VendorPhotoPlanBrandingURL]/[propertyTourID]">-->
                                <!--[vendorphotoplanbrandingurl]/-->
                                <!--[propertytourid]-->
                              <!--</a></td>-->
                          <!--</tr>-->
                          <!--<tr>-->
                            <!--<td align="center" valign="middle"><img-->
                            <!--src="http://planomatic-assets.planomatic.com/olio_email_confirmation/mls.gif"-->
                            <!--width="36" height="36" alt=""></td>-->
                            <!--<td style="line-height:26px; color:#666666;">-->
                              <!--MLS Non-Branded Version (upload this to MLS)<br>-->
                              <!--<a style="color:#00a1f2; text-decoration:none;"-->
                                 <!--href="[VendorPhotoPlanBrandingURL]/mls[propertyTourID]">-->
                                <!--[vendorphotoplanbrandingurl]/mls-->
                                <!--[propertytourid]-->
                              <!--</a>-->
                            <!--</td>-->
                          <!--</tr>-->
                          <!--</tbody>-->
                        <!--</table>-->
                        <!--<p>-->
                          <!--<img src="http://planomatic-assets.planomatic.com/olio_email_confirmation/divider.gif"-->
                               <!--width="660" height="1" alt="">-->
                        <!--</p>-->
                      <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                  <!--</table>-->
                <!--</td>-->
              <!--</tr>-->


              <!--<tr>-->
                <!--<td align="center" valign="top" width="680" style="padding: 10px 10px; padding-bottom: 10px;">-->
                  <!--<table border="0" cellpadding="20" cellspacing="0" id="emailContainer" style="font-family:Helvetica, Arial, sans-serif; color:#666666;">-->
                    <!--<tr>-->
                      <!--<td width="11%" style="text-align: right; padding-top: 10px; padding-botttom: 10px;">-->
                        <!--<img src="http://planomatic-assets.planomatic.com/olio_email_confirmation/house.gif"-->
                             <!--width="36" height="36"-->
                             <!--alt="">-->
                      <!--</td>-->
                      <!--<td width="89%" style="line-height: 27px; padding-top: 10px; padding-botttom: 10px; font-size: 18px">-->
                        <!--Branded PhotoPlan Virtual Tour Link (not MLS)-->
                        <!--<br>-->
                        <!--<a style="color:#00a1f2; text-decoration:none;"-->
                           <!--href="[VendorPhotoPlanBrandingURL]/[propertyTourID]">-->
                          <!--[vendorphotoplanbrandingurl]/-->
                          <!--[propertytourid]-->
                        <!--</a>-->
                      <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                      <!--<td width="11%" style="text-align: right; padding-top: 10px; padding-botttom: 10px;">-->
                        <!--<img src="http://planomatic-assets.planomatic.com/olio_email_confirmation/mls.gif"-->
                             <!--width="36" height="36"-->
                             <!--alt="">-->
                      <!--</td>-->
                      <!--<td width="89%" style="line-height: 27px; padding-top: 10px; padding-botttom: 10px; font-size: 18px">-->
                        <!--MLS Non-Branded Version (upload this to MLS)<br>-->
                        <!--<a style="color:#00a1f2; text-decoration:none;"-->
                           <!--href="[VendorPhotoPlanBrandingURL]/mls[propertyTourID]">-->
                          <!--[vendorphotoplanbrandingurl]/mls-->
                          <!--[propertytourid]-->
                        <!--</a>-->
                      <!--</td>-->
                    <!--</tr>-->
                  <!--</table>-->
                <!--</td>-->
              <!--</tr>-->


              <tr>
                <td align="center" valign="top" style="padding: 10px 10px">
                  <table border="0" cellpadding="20" cellspacing="0" width="680" height="10px" id="contactContainer"
                         style="font-family:Helvetica, Arial, sans-serif; color:#666666; text-align: center;">
                    <tr>
                      <td width="11%" style="padding-top: 0"></td>
                      <td width="33%" style="padding-top: 0">
                        <a href="http://www.planomatic.com/contact/" style="text-decoration: none;">
                          <div style="-webkit-print-color-adjust: exact; background-color: #00a1f2; color: white; font-size: 18px; padding: 10px 0;
                                  -moz-border-radius: 10px; -khtml-border-radius: 10px; /* for old Konqueror browsers */; -webkit-border-radius: 10px; border-radius: 10px; /* future proofing */">
                            Contact Us<br>
                          </div>
                        </a>
                      </td>
                      <td width="11%" style="padding-top: 0"></td>
                      <td width="33%" style="padding-top: 0">
                        <a href="http://www.planomatic.com/survey/" style="text-decoration: none;">
                          <div style="-webkit-print-color-adjust: exact; background-color: #00a1f2; color: white; font-size: 18px; padding: 10px 0;
                                  -moz-border-radius: 10px; -khtml-border-radius: 10px; /* for old Konqueror browsers */; -webkit-border-radius: 10px; border-radius: 10px; /* future proofing */">
                            Take Our Survey<br>
                          </div>
                        </a>
                      </td>
                      <td width="11%" style="padding-top: 0"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td bgcolor="#ffffff">
                  <table width="700" border="0" cellspacing="0" cellpadding="20">
                    <tbody>
                    <tr>
                      <td width="309" valign="bottom"><a href="http://www.facebook.com/planomatic"><img
                      src="http://planomatic-assets.planomatic.com/olio_email_confirmation/facebook.gif"
                      width="34" height="26" alt=""></a><a
                      href="http://www.twitter.com/planomatic"><img
                      src="http://planomatic-assets.planomatic.com/olio_email_confirmation/twitter.gif"
                      width="34" height="26" alt=""></a><a
                      href="http://www.linkedin.com/company/planomatic"><img
                      src="http://planomatic-assets.planomatic.com/olio_email_confirmation/linkedin.gif"
                      width="34" height="26" alt=""></a><a href="http://www.pinterest.com/planomatic"><img
                      src="http://planomatic-assets.planomatic.com/olio_email_confirmation/pinterest.gif"
                      width="34" height="26" alt=""></a><a href="http://www.instagram.com/planomatic"><img
                      src="http://planomatic-assets.planomatic.com/olio_email_confirmation/instagram.gif"
                      width="34" height="26" alt=""></a><a href="http://www.planomatic.com/blog"><img
                      src="http://planomatic-assets.planomatic.com/olio_email_confirmation/rss.gif"
                      width="34" height="26" alt=""></a></td>
                      <td width="311" align="right"
                          style="font-family:Helvetica, Arial, sans-serif; font-size:11px; color:#939393; font-weight:bold;">
                        © 2014-2015 PlanOmatic<br>
                        <br>
                        <a href="http://www.planomatic.com" style="color:#939393; text-decoration:none;">Privacy</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:#939393; text-decoration:none;"
                                                         href="http://www.planomatic.com">Terms and
                        Conditions</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a
                      style="color:#939393; text-decoration:none;" href="http://www.planomatic.com">Trademarks</a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

            </table>


          </td>
        </tr>
        <tr>
          <td style="font-family:Helvetica, Arial, sans-serif; font-size:10px; color:#676767;">
            <p><br>
              [vendorbrandingname] is not responsible for fines and/or incorrect use of this PhotoPlan or
              its URL.
              [vendorbrandingname] owns all copyrights to all images generated for this listing by
              [vendorbrandingname]. Presentation and images are leased to the client and are
              nontransferable without written consent by
              [vendorbrandingname>].
            </p>

            <p>It is the the listing agent and/or owner’s responsibility to verify the information displayed
              on any site in this message. In no event will
              [vendorbrandingname] be liable for any damages, including without limitation direct or
              indirect, special, incidental, or consequential damages, losses or expenses arising in
              connection with any site in this message or any linked site or use thereof or inability
              to use by any party, or in connection with any failure of performance, error, omission,
              interruption, defect, delay in operation or transmission, computer virus or line or
              system failure, even if
              [vendorbrandingname>] or representatives thereof, are advised of the possibility of such
              damages, losses or expenses.
            </p>
          </td>
        </tr>
        </tbody>
      </table>
      <p>&nbsp;</p></td>
  </tr>
  </tbody>
</table>


</body>
<!--</html>-->